@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Barrio&family=Bungee+Shade&family=Chewy&family=Cookie&family=Fuzzy+Bubbles:wght@400;700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Kalam&family=Lilita+One&family=Londrina+Shadow&family=Shadows+Into+Light&display=swap");
.acercade-contenedor div img, .actividades-contenedor div img, .instalaciones .instalaciones-contenedor div img, .contacto-contenedor div img, .fixed {
  box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.acercade-contenedor div img, .actividades-contenedor div img, .instalaciones .instalaciones-contenedor div img, .contacto-contenedor div img, .fixed {
  box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65); }

header {
  background-color: #faf4f4;
  background-size: cover;
  height: 21vh;
  width: 100%; }
  header div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header div ul li {
      list-style-type: none;
      display: inline-block;
      text-transform: uppercase;
      margin: 3px;
      padding: 3px; }
      header div ul li a {
        text-decoration: none;
        color: #0d0d0d;
        font-family: 'Gochi Hand', cursive;
        padding: auto;
        font-size: 14px;
        display: flex;
        justify-content: center; }
        header div ul li a:hover {
          transition: 2s;
          color: #7CB518;
          transform: scale(1.05); }
  header .jardin-contenedor a {
    text-decoration: none; }
  header .jardin-contenedor h1 {
    color: red;
    font-family: 'Chewy', cursive;
    font-weight: 250;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
    padding: 2px; }

.acercade-contenedor div img, .actividades-contenedor div img, .instalaciones .instalaciones-contenedor div img, .contacto-contenedor div img, .fixed {
  box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65); }

.hero {
  background-image: url("../img/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero a {
    color: #faf4f4;
    background-color: rgba(1, 104, 173, 0.445);
    padding: 10px;
    border-radius: 10px; }
  .hero p {
    color: #faf4f4;
    text-shadow: #0d0d0d 0.1em 0.1em 0.2em;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    height: 100%;
    font-size: 45px;
    background-color: rgba(1, 104, 173, 0.445);
    font-weight: bolder;
    text-align: center;
    border-radius: 25px; }
  .hero div {
    color: #0d0d0d;
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
    font-size: 30px;
    text-shadow: #070707;
    text-align: center;
    padding: 10px; }

.aventuras h2 {
  color: red;
  font-family: 'Chewy', cursive;
  font-weight: 120px;
  font-size: 30px;
  text-align: center;
  padding: 10px; }

.introduccion p {
  color: #0d0d0d;
  width: 100%;
  height: 100%;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  padding: 10px; }

.introduccion a {
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  color: #7CB518;
  font-family: 'Gochi Hand', cursive;
  padding-bottom: 10px; }

main h2 {
  color: red;
  text-align: center;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 30px; }

main a {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  color: #7CB518;
  font-family: 'Gochi Hand', cursive;
  padding-bottom: 10px; }

.bg-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, red, #f3f3f3);
  height: 10vh;
  padding: 10px; }
  .bg-1 h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-stretch: ultra-expanded;
    color: #faf4f4;
    text-shadow: #0d0d0d 0.1em 0.1em 0.2em; }

.t-stroke {
  color: transparent;
  font-size: 30px;
  text-align: center; }

.acercade h3 {
  display: flex;
  justify-content: center; }
  .acercade h3 a {
    padding-top: 15px;
    margin: 10px;
    border-radius: 25px;
    list-style-type: none;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    color: #7CB518;
    font-family: 'Gochi Hand', cursive; }
    .acercade h3 a:hover {
      transition: 2s;
      transform: scale(1.1); }

.acercade-contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .acercade-contenedor div {
    width: 310px;
    height: 310px;
    margin: 15px;
    border: 5px solid #fa9a0a; }
    .acercade-contenedor div img {
      width: 300px;
      height: 300px;
      object-fit: cover; }

.actividades h3 {
  display: flex;
  justify-content: center; }
  .actividades h3 a {
    padding-top: 15px;
    margin: 10px;
    border-radius: 25px;
    list-style-type: none;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    color: #7CB518;
    font-family: 'Gochi Hand', cursive; }
    .actividades h3 a:hover {
      transition: 2s;
      transform: scale(1.1); }

.actividades-contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .actividades-contenedor div {
    width: 310px;
    height: 310px;
    border: 5px solid #fa9a0a;
    margin: 15px; }
    .actividades-contenedor div img {
      width: 300px;
      height: 300px;
      object-fit: cover; }

.instalaciones h3 {
  display: flex;
  justify-content: center;
  font-size: 10px; }
  .instalaciones h3 a {
    padding-top: 15px;
    margin: 10px;
    border-radius: 25px;
    list-style-type: none;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    color: #7CB518;
    font-family: 'Gochi Hand', cursive; }
    .instalaciones h3 a:hover {
      transition: 2s;
      transform: scale(1.1); }

.instalaciones .instalaciones-contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .instalaciones .instalaciones-contenedor div {
    width: 310px;
    height: 310px;
    border: 5px solid #fa9a0a;
    margin: 15px; }
    .instalaciones .instalaciones-contenedor div img {
      width: 300px;
      height: 300px;
      object-fit: cover; }

.contacto h3 {
  display: flex;
  justify-content: center; }
  .contacto h3 a {
    padding-top: 15px;
    margin: 10px;
    border-radius: 25px;
    list-style-type: none;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    color: #7CB518;
    font-family: 'Gochi Hand', cursive; }
    .contacto h3 a:hover {
      transition: 2s;
      transform: scale(1.1); }

.contacto-contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .contacto-contenedor div {
    width: 310px;
    height: 310px;
    margin: 15px;
    border: 5px solid #fa9a0a; }
    .contacto-contenedor div img {
      width: 300px;
      height: 300px;
      object-fit: cover; }

.contacto-html {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contacto-html h2 {
    color: red;
    font-family: 'Chewy', cursive;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    padding: 10px; }
  .contacto-html h3 {
    color: #0d0d0d;
    width: 100%;
    height: 100%;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    font-weight: bolder;
    text-align: left; }

.fixed {
  font-family: 'Fuzzy Bubbles', cursive;
  position: fixed;
  bottom: 5%;
  right: 4%;
  background-color: #f3f2f2;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px solid #fa9a0a;
  border-radius: 100%; }
  .fixed div a {
    font-size: 28px;
    text-decoration-line: none;
    color: #0d0d0d;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap; }
    .fixed div a:hover {
      color: #7CB518;
      transition: 2s;
      transform: scale(1.05); }
  .fixed div {
    margin: 25px; }

.grid-contenedor {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 10px; }
  .grid-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.grid-item {
  grid-column: span 1;
  grid-row: span 1; }
  .grid-item:hover {
    transition: 2s;
    transform: scale(1.1); }

.item-1 {
  grid-column-start: 1;
  grid-column-end: 3; }

.item-3 {
  grid-row-start: 2;
  grid-row-end: 4; }

/*GRID ACTIVIDADES*/
.grid-item-actividades:hover {
  transition: 2s;
  transform: scale(1.1); }

.item-actividades-2 {
  grid-row-start: 1;
  grid-row-end: 3; }

.item-actividades-7 {
  grid-area: span 2; }

.item-actividades-9 {
  grid-area: span 2; }

.acercade-contenedor div img, .actividades-contenedor div img, .instalaciones .instalaciones-contenedor div img, .contacto-contenedor div img, .fixed {
  box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 9px 28px 17px rgba(0, 0, 0, 0.65); }

section .introduccion div a {
  text-decoration: none;
  color: #7CB518; }

.logos div a img {
  width: 50px;
  height: 50px; }

@media screen and (max-width: 680px) {
  .hero p {
    font-size: 30px; }
  .hero {
    height: 70vh; }
  .grid-contenedor {
    grid-template-columns: repeat(2, 1fr); }
  .item-7 {
    grid-column: span 2; } }

@media screen and (max-width: 570px) {
  header {
    height: 20vh; }
  .mi-header ul li a {
    font-size: 13px; }
  .hero p {
    font-size: 25px; }
  .hero {
    height: 70vh; }
  header .jardin-contenedor h1 {
    font-size: 30px;
    padding: 3px; }
  .fixed {
    display: none; } }

@media screen and (max-width: 520px) {
  header {
    height: 18vh; }
  .mi-header ul li a {
    font-size: 12px; }
  .hero p {
    font-size: 25px; }
  .hero {
    height: 50vh; }
  header .jardin-contenedor h1 {
    font-size: 25px;
    padding: 2px;
    margin: 2px; }
  .grid-contenedor {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }

@media screen and (max-width: 450px) {
  header {
    height: 16vh; }
  .mi-header ul li {
    margin: 1px;
    padding: 1px; }
    .mi-header ul li a {
      font-size: 10px; }
  .hero p {
    font-size: 20px; }
  .hero {
    height: 40vh; }
  header .jardin-contenedor h1 {
    font-size: 25px; }
  .bg-1 h2 {
    font-size: 20px; }
  .aventuras h2 {
    font-size: 20px; }
  .introduccion p {
    font-size: 12px; }
  .grid-contenedor {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }

@media screen and (max-width: 380px) {
  .mi-header ul li {
    margin: 0px;
    padding: 0px; }
    .mi-header ul li a {
      font-size: 9px; }
  .hero {
    background-image: url("/img/prueba.jpg"); }
  .hero {
    height: 30vh; }
  header .jardin-contenedor h1 {
    font-size: 20px; } }
