@import "../base/variables";
header{
    background-color: $color-blanco;
    background-size: cover;
    height: 21vh;
    width: 100%;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul li{
            list-style-type: none;
            display: inline-block;
            text-transform: uppercase;
            margin: 3px;
            padding: 3px;
            a{
                text-decoration: none;
                color: $color-negro;
                font-family: 'Gochi Hand', cursive;
                padding: auto;
                font-size: nth($font-size,5);
                display: flex;
                justify-content:center;
                &:hover {
                    transition: 2s;
                    color: $color-terciario;
                    transform: scale(1.05);
                }
                }
            }
        }
    .jardin-contenedor{
            a{
                text-decoration: none;
            }
            h1{
            color:$color-principal;
            font-family: 'Chewy', cursive;
            font-weight: 250;
            font-size: 40px;
            text-shadow: 1px 1px 2px black;
            padding: 2px;
            }
    }}