@import "../base/variables";
.hero{
    background-image: url("../img/portada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:75vh;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        color: $color-blanco;
        background-color: $color-secundario;
        padding: 10px;
        border-radius: 10px;
    }
    p{
        color: $color-blanco;
        text-shadow: $color-negro 0.1em 0.1em 0.2em;
        margin-bottom: 15px;
        padding: 15px;
        width: 100%;
        height: 100%;
        font-size: nth($font-size,1);
        background-color: $color-secundario;
        font-weight: bolder;
        text-align: center;
        border-radius: 25px
    }
    div{
        color: $color-negro;
        font-family: 'Architects Daughter', cursive;
        font-weight: 400;
        font-size: nth($font-size,2);
        text-shadow: #070707;
        text-align: center;
        padding: 10px;
    }
}
.aventuras h2{
    color: $color-principal;
    font-family: 'Chewy', cursive;
    font-weight: 120px;
    font-size: nth($font-size,2);
    text-align: center;
    padding: 10px;
}
.introduccion {
    p{
        color:$color-negro;
        width: 100%;
        height: 100%;
        font-family: 'Kalam', cursive;
        font-size: nth($font-size,4);
        font-weight: bolder;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    a {
        font-size: nth($font-size,5);
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
        color: $color-terciario;
        font-family: 'Gochi Hand', cursive;
        padding-bottom: 10px;

    }
}
main{
    h2{
        color: $color-principal;
        text-align: center;
        font-family: 'Fuzzy Bubbles', cursive;
        font-size: nth($font-size,2)
    }
    a{
        font-size: nth($font-size,2);
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
        color: $color-terciario;
        font-family: 'Gochi Hand', cursive;
        padding-bottom: 10px;
    }
}
.bg-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,$color-principal , rgb(243, 243, 243));
    height: 10vh;
    padding: 10px;
    h2{
        font-size: nth($font-size,2);
        text-align: center;
        font-family: 'Gochi Hand', cursive;
        font-stretch: ultra-expanded;
        color: $color-blanco;
        text-shadow: $color-negro 0.1em 0.1em 0.2em;
    }
}
.t-stroke {
    color: transparent;
    font-size: nth($font-size,2);
    text-align: center;
}
.acercade {
    h3 {
        display: flex;
        justify-content: center;
        a{
            padding-top: 15px;
            margin: 10px;
            border-radius: 25px;
            list-style-type: none;
            font-size: nth($font-size,3);
            font-weight: bolder;
            text-decoration: none;
            text-align: center;
            color: $color-terciario;
            font-family: 'Gochi Hand', cursive;
            &:hover{
                transition: 2s;
                transform: scale(1.1);
            }
        }
    }}
    .acercade-contenedor {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
            div {
                width: 310px;
                height: 310px;
                margin: 15px;
                border: 5px solid $borde-dorado;
                    img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        @extend %sombra-img;
                }
            }
    }
.actividades{
    h3{
        display: flex;
        justify-content: center;
        a{
            padding-top: 15px;
            margin: 10px;
            border-radius: 25px;
            list-style-type: none;
            font-size: nth($font-size,3);
            font-weight: bolder;
            text-decoration: none;
            text-align: center;
            color: $color-terciario;
            font-family: 'Gochi Hand', cursive;
            &:hover{
                transition: 2s;
                transform: scale(1.1);
            }
        }
    }}
    .actividades-contenedor{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div{
            width: 310px;
            height: 310px;
            border: 5px solid $borde-dorado;
            margin: 15px;
                img{
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    @extend %sombra-img;
                    }
            }
    }

.instalaciones {
    h3{
        display: flex;
        justify-content: center;
        font-size: 10px;
        a{
            padding-top: 15px;
            margin: 10px;
            border-radius: 25px;
            list-style-type: none;
            font-size: nth($font-size,3);
            font-weight: bolder;
            text-decoration: none;
            text-align: center;
            color: $color-terciario;
            font-family: 'Gochi Hand', cursive;
            &:hover{
                transition: 2s;
                transform: scale(1.1);
            }
        }
    }
    .instalaciones-contenedor {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
            div{
                width: 310px;
                height: 310px;
                border: 5px solid $borde-dorado;
                margin: 15px;
                    img{
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        @extend %sombra-img;
                        
            }
        }
    }}

.contacto {
    h3 {
        display: flex;
        justify-content: center;
        a{
            padding-top: 15px;
            margin: 10px;
            border-radius: 25px;
            list-style-type: none;
            font-size: nth($font-size,3);
            font-weight: bolder;
            text-decoration: none;
            text-align: center;
            color: $color-terciario;
            font-family: 'Gochi Hand', cursive;
            &:hover{
                transition: 2s;
                transform: scale(1.1);
        }
    }
    }}
    .contacto-contenedor {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
            div {
                width: 310px;
                height: 310px;
                margin: 15px;
                border: 5px solid $borde-dorado;
                    img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        @extend %sombra-img;
                }
            }
    }
    .contacto-html{
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            color: $color-principal;
            font-family: 'Chewy', cursive;
            font-weight: 400;
            font-size: nth($font-size,3);
            text-align: left;
            padding: 10px;
        }
        h3{
            color: $color-negro;
            width: 100%;
            height: 100%;
            font-family: 'Kalam', cursive;
            font-size: nth($font-size,3);
            font-weight: bolder;
            text-align: left;
        }
    }

.fixed {
    font-family: 'Fuzzy Bubbles', cursive;
    position: fixed;
    bottom: 5%;
    right: 4%;
    background-color: hsl(0, 4%, 95%);
    text-align: center;
    width: 200px;
    height: 200px;
    border: 2px solid $borde-dorado;
    border-radius: 100%;
    @extend %sombra-img;
    div a{
        font-size: 28px;
        text-decoration-line: none;
        color: $color-negro;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        &:hover {
            color: $color-terciario;
            transition: 2s;
            transform: scale(1.05);
        }}
    div {
        margin: 25px;
    }
}
.grid-contenedor {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 10px;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.grid-item {
    grid-column: span 1;
    grid-row: span 1;
    &:hover{
        transition: 2s;
        transform: scale(1.1);
    }
}
.item-1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
.item-3 {
        grid-row-start: 2;
        grid-row-end: 4;
    }

/*GRID ACTIVIDADES*/
    .grid-item-actividades {
        &:hover{
            transition: 2s;
            transform: scale(1.1);
        }
    } 
    .item-actividades-2 {
            grid-row-start: 1;
            grid-row-end: 3;
        }
    .item-actividades-7{
            grid-area: span 2;
    }
    .item-actividades-9{
            grid-area: span 2;
    }
